<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TikTok Video Maker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            overflow: auto;
            max-height: 80%;
        }

        .step {
            display: none;
        }

        .step h2 {
            color: #333;
        }

        button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
        }

        .float-right-button {
            float: right;
            margin-left: 5px;
            margin-right: 5px;
        }

        button:hover {
            background-color: #0056b3;
        }

        .progress-line-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
        }

        .progress-line {
            height: 2px;
            background-color: #ddd;
            position: absolute;
            top: 15px;
            left: 20px; /* Adjusted to start from the first indicator */
            right: 20px; /* Adjusted to end at the last indicator */
            z-index: 0;
        }

        .step-indicator {
            padding: 5px 10px;
            border-radius: 20px; /* Rounded corners */
            background-color: #ddd;
            color: #333;
            text-align: center;
            margin-left: 10px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s, color 0.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .step-indicator.valid {
            background-color: limegreen;
            color: #fff;
        }

        .step-indicator.invalid {
            background-color: orangered;
            color: #fff;
        }
        .step-indicator.active {
            background-color: #007bff; /* Color for the active step */
            color: #fff;
        }
        /* Additional CSS styles for input fields */

        input[type="password"], input[type="text"], input[type="url"], input[type="number"], select {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
            transition: border-color 0.3s;
        }

        input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, select:focus {
            border-color: #007bff;
            outline: none;
        }

        input[type="password"]:invalid, input[type="text"]:invalid, input[type="url"]:invalid, input[type="number"]:invalid, select:invalid {
            border-color: orangered;
        }

        input[type="password"]:valid, input[type="text"]:valid, input[type="url"]:valid, input[type="number"]:valid, select:valid {
            border-color: limegreen;
        }
        .number {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            background-color: #ddd;
            color: #333;
            text-align: center;
            font-weight: bold;
            position: relative;
            z-index: 1;
        }

        .label {
            margin-top: 5px;
            font-size: 12px;
            text-align: center;
            color: #333;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .flexdatalist-multiple-value, .flexdatalist-multiple-value > input {
            width: 100% !important;
        }
        .flexdatalist-multiple-value {
            margin: 0px !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.min.css" integrity="sha512-m/uSzCYYP5f55d4nUi9mnY9m49I8T+GUEe4OQd3fYTpFU9CIaPazUG/f8yUkY0EWlXBJnpsA7IToT2ljMgB87Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js" integrity="sha512-94dgCw8xWrVcgkmOc2fwKjO4dqy/X3q7IjFru6MHJKeaAzCvhkVtOS6S+co+RbcZvvPBngLzuVMApmxkuWZGwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/2.3.0/jquery.flexdatalist.min.css" integrity="sha512-feX1WY95JHQ//uffCG42xy0PofA6DAZSEgIQMMOmRBbSmmOoz/J52azXXLM3kYa9EkQ5PlOHFFCgqpnPJ1oYpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/2.3.0/jquery.flexdatalist.js" integrity="sha512-EV6mniicxCv11+szFfhHJ4qKAQP4HAjQQHb4TBvIHqXuuS+8dCqb4h8V0n/W1HtSkEYEFpQGOWh19FmlOyg7gQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    {{{body}}}
</body>
</html>